@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Prompt:wght@300&family=Sriracha&family=Ubuntu&display=swap');


body {
    margin: 20px;
    padding: 0;
    background-color: rgb(0, 0, 0); 
    font-family: 'Sriracha', sans-serif;
  }
  
  h1 {
    text-align: center;
    color: #fdff00; 
    font-size: 50px;
  }
  
  h3 {
    margin-top: 30px;
    color: #00f6ff; 
    text-align: center;
    font-size: 30px;
  }
  
  .user-list {
    list-style: none;
    padding: 0;
    text-align: center;
  }
  
  .user-list li {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border-radius: 50px;
    border : solid #ff3b94;
    margin: 5px auto;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease; /* Add box-shadow transition */
    width: 450px; 
  }
  
  .user-list li:hover {
    transform: scale(1.1); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.336);
  }
  
  .post-info {
    padding: 50px;
    margin-top: 10px;
    margin: 25px;
}

  .post {
    border: 2px dashed #0bff00;
    color: #ffffff;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease; 
    cursor: pointer;
  }
  
  .post:hover {
    transform: scale(1.05); 
  }
  